<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802072297266-81ppprf27tnjm5pqno0914mumbl8l6mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802072297266-81ppprf27tnjm5pqno0914mumbl8l6mj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802072297266-ebieotkuiqboitu3t9lbg6omt11gaelh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhymsYUMJTS-P51adj_0QS_5Fg-gDiazw</string>
	<key>GCM_SENDER_ID</key>
	<string>802072297266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.changemakerFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>changemaker-22f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>changemaker-22f3c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802072297266:ios:d0199c2ae18b396468e12b</string>
</dict>
</plist>